{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        <div class="card-footer"><small class="text-muted">
          <div class="row">
            <div class="col" style="height: 10px; width:10px;"><i class="fa-solid fa-thumbs-up" ></i></div>
            <div class="col"><i class="fa-solid fa-thumbs-down"></i></div>
            <div class="col"><a href="{{ url_for('comment_post', post_id=post.id) }}" class="btn btn-info btn-rounded btn-sm"> Leave a Comment</a></div>
          </div>
          <br>
          Comments:
          

        </small></div>
    {% endfor %}
{% endblock content %}